* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 40px;
  }
  
  
  #map {
    height: 100vh;
    position: relative;
    z-index: 1; /* Ensure the map is behind other elements */
  }
  
  
  
/* Vertical Slider container */
.range-slider {
    position: absolute;
    z-index: 2;
    top: 150px; /* Adjust the top position based on your needs */
    left: 10px; /* Adjust the left position based on your needs */
  }
  
  /* Slider */
  .input-range {
    -webkit-appearance: none;
    height: 1000px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
  }
  
  ::-moz-range-track {
      background: #ccc;
      border: 0;
  }
  
  input::-moz-focus-inner { 
    border: 0; 
  }
  
/* Add this style to your CSS */
.slider-values {
    position: absolute;
    z-index: 2;
    top: 150px; /* Adjust the top position based on your needs */
    left: 100px; /* Adjust the left position based on your needs */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
  }
  
  .slider-values span {
    margin: 5px 0;
    height: calc(1000px / var(--number-of-values));
  }
  
  
  